.calendar-wrapper {
        font-size: 11pt;
        color: #666;
        width: 90%;
}
.calendar {
        border: 1px solid #AAC;
        border-radius: 2px;
        width: 100%;
}
.calendar thead th {
        /*border: 1px solid #BBB;*/
}
.calendar td {
        width: 14%;
        padding: 4px;
        border-top: 1px solid #CCC;
        /*border-left: 1px solid #BBB;*/
        /*border-bottom: 1px solid #BBB;*/
}
.calendar td:nth-child(even) {
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
}
.calendar td:nth-child(n+6) {
        background: #EEF;
}

.calendar th {
        background: #DDE;
	padding: 1px;	
}
.week {
}
.day {
        text-align: right;
	vertical-align: top;
}
.day.bold {
	font-weight: bold;
}
.day.booked, .calendar td:nth-child(n+6).day.booked {
        background: #FAA;
        color: #444;
}
/*.day.booked.bold, .calendar td:nth-child(n+6).day.booked.bold {
        background: #D88;
        color: #444;
}*/

.switch {
	display: block;
	height: 20pt;
	width: 20pt;
	border: 1pt solid #AAC;
	border-radius: 2px;
	margin-bottom: 10px;
	background: -webkit-linear-gradient(45deg, #DDF 40%, transparent 40%), 
		-webkit-linear-gradient(315deg, #DDF 40%, transparent 40%),
		-webkit-linear-gradient(180deg, #DDF 40%, white 40%);
}
.switch:hover {
	border: 1pt solid #88C;	
	cursor: pointer;
	background: -webkit-linear-gradient(45deg, #CCE 40%, transparent 40%), 
		-webkit-linear-gradient(315deg, #CCE 40%, transparent 40%),
		-webkit-linear-gradient(180deg, #CCE 40%, white 40%);
}
.back {
	float: left;
}
.forth {
	float: right;
	-webkit-transform: scaleX(-1);
}
.month {
}
.name {
	display: block;
	margin: 0 auto;
	width: 100%;
	border: 1pt solid #AAC;
        border-radius: 2px;
	text-align: center;
	line-height: 20pt;
	font-weight: bold;
        color: #556;
        background-color: #DDF;
}


.tripple_float .side {
	display: block;
	float: left;
	width: 20%;
	height: 100%;
}
.tripple_float .mid {
	display: block;
	float: left;
	width: 60%;
	height: 100%;
}x