html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background: ;*/
    font-family: Tahoma;
    font-size: 14pt;
}

.page_head {
    font-family: Tahoma;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    width: 100%;
    display: block;
    font-size: 20pt;
    color: #444;
    text-shadow: 0px 1px 2px #FFF;
    border-bottom: 1px solid #888;
    background: -webkit-linear-gradient(#EEE 40%, rgba(128,128,128, 0.6) 100%);
}
.page_head span {
    margin-left: 40px;
}

.widget {
    float: left;
    display: block;
    margin: 20px;
    padding: 4px;
    /*border: 1px solid #888;*/
    box-shadow: 0px 0px 12px #888;
    border-radius: 10px;
    background: -webkit-linear-gradient(#FFF 62%, #EEE 100%);
}

.menu {
    width: 20%;
    min-width: 120px;
    min-height: 120px;
    height: 60%;
}

.content {
    width: 60%;
    min-width: 240px;
    min-height: 180px;
    height: 80%;
}

.nofloat {
	float: none;
}
