html {
    height: 100%;
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Tahoma;
    font-size: 12pt;
    background: #EEF;
}

#head {
    height: 40px;
    background: #AAC;
    border-bottom: 1px solid #88C;
    color: #F8F8FF;
    line-height: 40px;
    font-size: 20pt;
    padding-left: 18px;
    font-weight: bold;
}

#content {
    background: #FFF;
    display: block;
    margin: 0 auto;
    width: 70%;
    min-width: 600px;
    max-width: 900px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

#content>.head {
    padding: 40px;
}

#content>.head .title {
    font-size: 18pt;
    font-weight: bold;
    padding-bottom: 20px;
}

.widget {
    border-top: 1px solid #DDD;
}

.widget .head {
    padding-left: 40px;
    background: #EEE;
    line-height: 30px;
    font-size: 13pt;
    font-weight: bold;
    color: #333;
    /*background-image: url('http://www.ppcps.de/images/android/TOOLS/Cameron-Murphy/icon/Toggle-Data-Widget_icon.png');*/
    background-image: url('../icon/toggle_icon.gif');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px;
    cursor: pointer;
}

.widget .content {
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: none;
    color: #444;
}

#foot { 
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: right;
    width: 70%;
    max-width: 900px;
    padding-top: 10px;
    color: #AAA;
    font-size: 8pt;
}

a.file {
    background-image: url('../icon/file-icons.gif');
    background-size: 176px; /* 8 times line-height*/
    display: inline-block;
    padding-left: 22px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    background-repeat: repeat;
    text-decoration: none;
}

a.file:hover {
    color: black;
}

a.file.pdf {
    background-position: 130px 154px;
}

ul {
    padding-top: 0;
    margin-top: 0;
}

.left {
    display: block;
    float: left;
    width: 50%;
    overflow: hidden;
}

.right {
    display: block;
    width: 50%;
    padding-left: 10px;
    float: right;
    overflow: hidden;
}

.center {
    margin: 0 auto;
}

.clearfloat {
    clear: both;
}

.form input {
    line-height: 20px;
}

#galleria {
    height: 400px;
}

body .galleria-container { 
    background: #181822; 
}