html {
    height: 100%;
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Tahoma;
    font-size: 12pt;
    background: #EEF;
}

#head {
    height: 40px;
    background: #AAC;
    border-bottom: 1px solid #88C;
    color: #FFF;
    line-height: 40px;
    font-size: 20pt;
    padding-left: 18px;
    font-weight: bold;
}

#content {
    background: #FFF;
    display: block;
    margin: 0 auto;
    width: 70%;
    min-width: 600px;
    max-width: 900px;
    padding-top: 40px;
    padding-bottom: 80px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.widget {
    margin-bottom: 20px;
    border-top: 1px solid #DDD;
}

.widget .head {
    padding-left: 60px;
    background: #EEE;
    line-height: 30px;
    font-size: 13pt;
    font-weight: bold;
    color: #333;
    background-image: url('http://www.ppcps.de/images/android/TOOLS/Cameron-Murphy/icon/Toggle-Data-Widget_icon.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 30px;
}

.widget .content {
    width: 100%;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: none;
    /*background: #F6F6F6;*/
    color: #444;
}

#foot {
    margin: 0 auto;
    text-align: right;
    width: 70%;
    padding-top: 10px;
    color: #AAA;
    font-size: 8pt;
}