html, body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding-top: 10px;
	font-family: Tahoma;
	font-size: 14pt;
}
.calendar-wrapper {
	margin: 0 auto;
	width: 80%;
	height: 80%;
}
.calendar {
	width: 100%;
	height: 100%;
	border: 1px solid #CCC;
}
.calendar th {
	font-size: 20pt;
	border: 1px solid #CCC;
	background-color: #DDD;
	color: white;
	padding: 1px;	
}
.week {
}

.day {
	width: 14%;
	border: 1px solid #CCC;
	padding: 1px;
	color: #666;
	padding: 4px;
	vertical-align: top;
}
.day.bold {
	font-weight: bold;
}

.day:hover {
	padding: 3px;
	border: 2px solid #888;
	background-color: #BBF;
}
.selected {
	background-color: #CCF;	
}

.switch {
	display: block;
	width: 5%;
	height: 0;
	padding-bottom: 5%;
	background-color: #CCF;	
	border: 4px solid #EEF;
	border-radius: 20%;
	margin-bottom: 10px;
	background: -webkit-linear-gradient(transparent 40%, rgba(0,0,128, 0.4) 100%),
		-webkit-linear-gradient(45deg, #CCCCFF 40%, transparent 40%), 
		-webkit-linear-gradient(315deg, #CCCCFF 40%, transparent 40%),
		-webkit-linear-gradient(180deg, #CCCCFF 40%, white 40%);
}
.switch:hover {
	border: 4px solid #BBC;	
	cursor: pointer;
	background: -webkit-linear-gradient(transparent 20%, rgba(0,0,128, 0.6) 100%),
		-webkit-linear-gradient(45deg, #CCCCFF 40%, transparent 40%), 
		-webkit-linear-gradient(315deg, #CCCCFF 40%, transparent 40%),
		-webkit-linear-gradient(180deg, #CCCCFF 40%, white 40%);
}
.back {
	float: left;
}
.forth {
	float: right;
	-webkit-transform: scaleX(-1);
}

.nofloat {
	float: none;
}
